<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wsh666.mrright">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 照片选择器的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WritePostActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.PostDetailActivity" />
        <activity android:name=".activity.CommentDetailActivity" />
        android.support.multidex.MultiDexApplication
        <activity android:name=".activity.EditInfomationActivity" />
        <activity android:name=".activity.Chatctivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.OtherUserActivity" />
        <activity android:name=".activity.TopicActivity" />
        <activity android:name=".activity.TopicPostActivity"></activity>
    </application>

</manifest>